<html>
<body>

{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="Username" name="userName" required/>
    <input type="password" placeholder="Password" name="password" required/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
Greetings, {{name}}!
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br><br>

<form action="/add-todo" method="post">
    <input type="text" placeholder="Name" name="toDoText"/>
    <button type="submit">Add Todo</button>
</form>

<ol>
    {{#todos}}
    <li>{{text}} <a href="/delete?todoID={{id}}">delete</a></li>
    {{/todos}}
</ol>

{{/user}}
</body>
</html>